[submodule "lectures/rails-authentication"]
	path = lectures/rails-authentication
	url = git@github.com:trouni/rails-authentication-1715
[submodule "lectures/rails-search"]
	path = lectures/rails-search
	url = git@github.com:trouni/rails-search-1715
[submodule "lectures/rails-authorization"]
	path = lectures/rails-authorization
	url = git@github.com:trouni/rails-authorization-1715.git
[submodule "lectures/rails-openai"]
	path = lectures/rails-openai
	url = git@github.com:trouni/rails-openai-1715
[submodule "lectures/rails-products-ai"]
	path = lectures/rails-products-ai
	url = git@github.com:trouni/rails-products-ai-1715
